@import "../../assets/stylus/variable2.styl";
@import "../../assets/stylus/mixin.styl";

.singer
  position fixed
  top 0
  left 50%
  bottom 0
  width 100%
  max-width 500px
  transform translateX(-50%)
  transform-style preserve-3d
  z-index 99
  background-color $color-bg-gray-m
  .singer-photo
    position relative
    height 40%
    background-repeat no-repeat
    background-size cover
    &::after
      content ""
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-color rgba(7,17,27,.4)
  .song-list
    position absolute
    top 40%
    bottom 0
    width  100%
    .song-list-wrap
      .song-wrap
        padding 10px 20px
        position relative
        font-size 14px
        line-height 20px
        border-bottom-1px($color-border-d)
        &:last-child::after
          border 0
        .song-name
          text-overflow ellipsis
          overflow hidden
          white-space nowrap
          color $color-font-d
        .song-disc
          text-overflow ellipsis
          overflow hidden
          white-space nowrap
          margin-top 4px
          color $color-font-gray