@import "../../assets/stylus/variable2.styl"
@import "../../assets/stylus/mixin.styl"

.m-header
  position relative
  height 44px
  text-align center
  color $color-font
  font-size 0
  background-color $color-theme
  .logo
    margin-top 4px
    margin-right 4px
    display inline-block
    width 30px
    vertical-align middle
  .text
    display inline-block
    vertical-align middle
    line-height 44px
    font-size $font-size-large
  .mine
    position absolute
    top 0
    right 0
  .icon-mine
    display block
    padding 12px
    font-size 20px
    color $color-font