@import "../../assets/stylus/variable2.styl"

.recommend-cd
  position fixed
  top 0
  left 50%
  bottom 0
  width 100%
  max-width 500px
  background-color $color-bg-gray-m
  transform translateX(-50%)
  transform-style preserve-3d
  z-index 99
  .cd-photo
    position relative
    height 40%
    background-repeat no-repeat
    background-size cover
  .list-wrap
    position absolute
    top 40%
    bottom 0
    width 100%